@{
	ViewData["Title"] = "Confirmação da Instalação";
}

<div class="container">
	<h2 class="text-success">Simulação Registada com Sucesso!</h2>

	@if (ViewBag.PrecoFinal != null)
	{
		<p class="text">O preço estimado da instalação é: <strong>@ViewBag.PrecoFinal € </strong></p>
	}
	else
	{
		<p class="error">O preço estimado não foi calculado.</p>
	}
	<a href="@Url.Action("Simular", "SimulacaoValores")" id="btn-pp">Mais Detalhes</a>

	<a href="/" class="btn">Voltar à Página Inicial</a>
</div>