@using LightInvest.Models.b
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model LightInvest.Models.DadosInstalacao

<form asp-action="Create" method="post">
	
	<select asp-for="CidadeId" asp-items="@(ViewBag.Cidades != null ? new SelectList(ViewBag.Cidades, "Id", "Nome") : new SelectList(new List<Cidade>()))">
		<option value="">Selecione uma cidade</option>
	</select>

	<select asp-for="ModeloPainelId" asp-items="@(ViewBag.ModelosPainel != null ? new SelectList(ViewBag.ModelosPainel, "Id", "Nome") : new SelectList(new List<ModeloPainelSolar>()))">
		<option value="">Selecione um modelo</option>
	</select>



	<div>
		<label>Número de Painéis:</label>
		<input asp-for="NumeroPaineis" type="number" />
	</div>

	<div>
		<label>Consumo Painel (kWh):</label>
		<input asp-for="ConsumoPainel" type="number" />
	</div>

	<div>
		<label>Inclinação (graus):</label>
		<input asp-for="Inclinacao" type="number" />
	</div>

	<div>
		<label>Dificuldade:</label>
		<select asp-for="Dificuldade">
			<option value="Fácil">Fácil</option>
			<option value="Média">Média</option>
			<option value="Difícil">Difícil</option>
		</select>
	</div>

	<button type="submit">Salvar</button>
</form>