@{
    ViewData["Title"] = "Home Page";
}

<div class="home-container">
    <div class="home-box">
        <div class="sidebar">
            <img src="~/images/logo.png" alt="LightInvest Logo" />
        </div>

        <div class="main-content">

            <div id="header">
                <h2>Bem Vindo,</h2>
                <p>@ViewBag.UserName!</p>
            </div>


            <div class="choices">
                <form asp-controller="ROICalculator" asp-action="Index">
                    <button type="submit" class="btn">Simulações do ROI</button>
                </form>

                <button class="btn">Simulações de Tarifas Energéticas</button>
                <button class="btn">Educação Energética</button>
                
                <div id="sair">
                    <a href="@Url.Action("Logout", "Account")" class="btn btn-sair">Terminar Sessão</a>
                </div>

            </div>
        </div>
    </div>
</div>

<style>
    .home-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: #f9f9f9;
    }

    .home-box {
        display: flex;
        background: white;
        width: 950px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .sidebar {
        background-color: #065A66;
        color: white;
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction:column;
        justify-content: center;
        max-width: 250px;
        height: 450px;
    }

    .sidebar img {
        max-width: 250px;
        margin: 0 auto 20px;
    }

    .main-content {
        flex: 2;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #header {
        display:flex;
        flex-direction: column;
        justify-content:center;
        align-items:center;
        text-align:center;
    }

    h2 {
        font-weight:bold;
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #065A66;
        text-align:center;
    }

    p {
        margin-bottom: 20px;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        color: #87C8B8;
        margin-bottom:20%;
    }

    .choices {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .btn {
        border-radius: 25px;
        height: 35px;
        width: 400px;
        font-size: 18px;
        background-color: #065A66;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
    }

    .btn:hover {
        background-color: #4C7B8B;
        color: white;
    }

    .btn-sair {
        background-color: #87C8B8;
        cursor:pointer ;
        border-radius: 25px;
        height: 35px;
        width: 400px;
        font-size: 18px;
        color: white;
        border: none;
        cursor: pointer;
        text-align: center;
    }

    .btn-sair:hover{
            background-color: #A3D1C6;
    }
</style>
