@{
    ViewData["Title"] = "Recuperar Palavra-Passe";
}
<div class="forgot-password-container">
    <div class="forgot-password-box">
        <div class="sidebar">
            <img src="~/images/logo.png" alt="LightInvest Logo" />
        </div>

        <div class="forgot-password-form">
            <h2>Recuperar Password</h2>
            <p><strong>Insira o email associado à sua conta!</strong> Será enviado um token para o seu email para validar a sua identidade. Após a validação, poderá redefinir a palavra-passe.</p>

            <form method="post">
                <div class="form-group">
                    <input type="email" id="email" name="email" placeholder="Email" required />
                </div>

                @if (!ViewData.ModelState.IsValid)
                {
                    <div id="text-danger">
                        @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                        {
                            <p>@error.ErrorMessage</p>
                        }
                    </div>
                }

                <div id="end-row">
                    <div class="extra-actions">
                        <a href="@Url.Action("Login", "Account")">Voltar para o login</a>
                    </div>
                    <div class="form-actions">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    
    .forgot-password-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        background-color: #f9f9f9;
    }

    .forgot-password-box {
        display: flex;
        background: white;
        width: 950px;
        height: 450px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: #065A66;
        color: white;
        max-width: 250px;
        height: 450px;
    }

    .sidebar img {
        max-width: 250px;
        margin-left: 45px;
    }

    .forgot-password-form {
        flex: 2;
        padding: 30px;
        text-align: center;
    }

    .forgot-password-form h2 {
        font-size: 2.5rem;
        color: #065A66;
        font-weight: bold;
        margin-bottom: 5%;
        border-bottom: 2px solid #065A66;
        display: inline-block;
        padding-bottom: 5px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .forgot-password-form p {
        color: #333;
        margin-bottom: 6%;
        font-size: 1.2rem;
        text-align: center;
        margin-left:5%;
        margin-right:5%;
        margin-top: 0px;
    }

    .form-group {
        margin-top: 20px;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .form-group input {
        width: 100%;
        padding: 10px 15px 10px 40px;
        border: 2px solid #ddd;
        border-radius: 20px;
        font-size: 1rem;
    }

    #end-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 6%;
    }

    .extra-actions {
        margin-right: 3%;
    }

    .extra-actions a {
        color: #065A66;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }

    .form-actions button {
        padding: 7px 30px;
        background-color: #065A66;
        color: white;
        border: none;
        border-radius: 25px;
        font-size: 1em;
        cursor: pointer;
        transition: background-color 0.3s ease, transform 0.2s ease;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    #text-danger p {
        text-align: center;
        font-size: 1rem;
        color: red;
        margin-top: 2%;
    }
</style>