@{
    ViewData["Title"] = "Recuperação de Senha";
}

<div class="login-container">
    <div class="login-box">
        <div class="sidebar">
            <img src="~/images/logo.png" alt="LightInvest Logo" />
        </div>

        <div class="login-form">
            <h2>Recuperar Palavra-Passe</h2>
            <form method="post">
                <div class="form-group">
                    <p>Insira o email associado à sua conta! Será enviado um email com instruções para redefinir a palavra-passe.</p>
                    <input type="email" id="email" name="email" placeholder="Email" required />
                </div>
                <div id="end-row">
                    <div class="extra-actions">
                        <a href="@Url.Action("Login", "Account")">Voltar para o Login</a>
                    </div>
                    <div class="form-actions">
                        <button type="submit">Enviar</button>
                    </div>
                </div>
                
                
            </form>

            @if (TempData["SuccessMessage"] != null)
            {
                <div class="alert alert-success">
                    @TempData["SuccessMessage"]
                </div>
            }
        </div>
    </div>
</div>

<style>
    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f9f9f9;
    }

    .login-box {
        display: flex;
        background: white;
        width: 800px;
        height:400px;
        border-radius: 8px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }

    .sidebar {
        background-color: #065A66;
        color: white;
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 250px;
    }

    .sidebar img {
        width: 250px;
    }

    .login-form {
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-content: center;
        flex: 2;
        padding: 30px;
    }

    h2 {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight:bold;
        color: #065A66;
        text-align:center;
        font-size: 2.3rem;
        margin-bottom: 2%;
    }

    .form-group p {
        text-align: center;
    }
    .form-group input {
        width: 100%;
        padding: 10px;
        border: 2px solid #ddd;
        border-radius: 20px;
        margin-bottom: 4%;
        margin-top:7%;
    }

    /*Ultima linha*/
    #end-row{
        display:flex;
        flex-direction: row;
        align-items:center;
        justify-content:center;
    }

    .form-actions button {
        padding: 10px 25px;
        background: #065A66;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size:1em;
    }

    .extra-actions {
        margin-right:3%;
    }

    .extra-actions a {
        color: #065A66;
        text-decoration: none;
        font-size: 1em;
        font-weight: bold;
    }

    .alert-success {
        background-color: #d4edda;
        color: #155724;
        padding: 10px;
        border-radius: 4px;
        margin-top: 10px;
    }
</style>
