@{
	ViewData["Title"] = "Redefinir Senha";
}

<h2>@ViewData["Title"]</h2>

<form method="post">
	<div class="form-group">
		<input type="hidden" name="Token" value="@Model.Token" />
		<label for="newPassword">Nova Senha</label>
		<input type="password" class="form-control" id="newPassword" name="NewPassword" required />
	</div>
	<button type="submit" class="btn btn-primary">Redefinir Senha</button>
</form>