@model LightInvest.Models.SelecionarTarifaViewModel

@{
    ViewData["Title"] = "Selecionar Tarifa";
}
<h2>Formulário das Tarifas Energéticas</h2>

<form asp-action="SelecionarTarifa" method="post">
    <div class="selecionarTarifa-container">
        <div class="selecionarTarifa-box">
            <div class="form-group">
                <label for="PrecoKwh"><strong>1. Preço por kWh:</strong></label>
                <p>Insira o valor do preço por KWh da sua tarifa de eletricidade (em € )</p>
                <input type="number" asp-for="PrecoKwh" class="form-control" step="0.01" min="0" placeholder="Digite o preço por kWh" />
            </div>
            <hr>
            <div class="form-group">
                <label for="TarifaEscolhida"><strong>2. Tipo de Tarifa:</strong></label>
                
                <select asp-for="TarifaEscolhida" class="form-control" asp-items="@(new SelectList(Model.TiposDeTarifa))">
	                <option value="">Selecione uma tarifa</option>
                </select>

            
                </div>

            <div id="horizontal-button">
                <a href="@Url.Action("Simulation", "EnergySimulation")" class="btn">Anterior</a>
                <button type="submit" class="btn">Seguinte</button>
            </div>
        </div>
    </div>
</form>

<style>
    .selecionarTarifa-container {
        height: 80vh;
        background-color: #f9f9f9;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Define o layout da box */
    .selecionarTarifa-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
        width: 70%;
        max-width: 600px;
    }

    h2 {
        font-weight: bold;
        font-size: 3rem;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        color: #065A66;
        text-align: center;
        margin-bottom: 4%;
    }

    .form-group {
        margin-bottom: 15px;
        width: 100%;
    }

    .form-control {
        width: 100%;
        padding: 8px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .btn {
        background: #065A66;
        color: white;
        padding: 10px 20px;
        border: none;
        cursor: pointer;
        border-radius: 25px;
        margin-top: 15px;
        width: 100%;
        text-align: center;
    }

    .btn:hover {
        color: white;
        background: #054850;
    }

    #horizontal-button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;
    }
</style>
